{% extends 'base.html' %}
{% load static %}


{% block content %}
<div style="height: 20vh"></div>
 
   <h1>Home page</h1>
<a href="{% url 'add_product' %}">Add a product</a>
<a href="{% url 'add_product_stock' %}">Add a product stock</a>


{% for product in products %}
<div>
    <a href="{% url 'product_detail' product.id %}">  <p>{{product.name}}</p></a>
   <p> {{product.id}}</p>
  {% if product.qr_code %}
    <img src="{{product.qr_code}}" alt="" style="height: 50px; width:50px ">
</div>

    {% endif %}

    
{% endfor %}

{% endblock %}