{% extends 'base.html' %}
{% load static %}

{% block content %}

 
   <h1>Home page</h1>



{% for product in products %}
<div>
    <a href="{% url 'product_detail' product.id %}">  <p>{{product.name}}</p></a>
   <p> {{product.id}}</p>
  {% if product.qr_code %}
    <img src="{{product.qr_code}}" alt="" style="height: 50px; width:50px ">
</div>

    {% endif %}

    
{% endfor %}
<!-- Button trigger modal -->

<button type="button" class="btn btn-primary btn-floating" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
            <p>Telephone:</p>
            <p>012828 299 844</p>
            <p>This number is open from 9am to 5pm</p>
        </div>
        <hr>
        <div>
            <p>Alternatively, please email: goldenshoe@gmail.com</p>
            <p>Or you can message directly from the textbox below.
               Please leave a contact number or email so we can answer your query.
            </p>
            <form method="POST" action="{% url 'customer_enquiry' %}">
                        {% csrf_token%} 
                <label for="enquiry">Enquiry</label>
                <input type="text" name="enquiry">
                <label for="email">Email</label>
                <input name="email" type="email">
                <label for="tel">Telephone</label>
                <input name="tel" type="tel">
                <button type="Submit">Request details</button>
           </form>
        </div>
        <hr>
        <div>
            <p>
            Delivery dates
            </p>
            <p>Please go to <a href="">"My orders"</a> </p>
            <p>If you do not have an account, please enter your order number below to request for details to be
                sent to your email. 
            </p>
               <form method="POST" action="{% url 'delivery_enquiry' %}">
                        {% csrf_token%} 
                <input type="text">
                <button type="Submit">Request details</button>
           </form>
        </div>
        <hr>
        <div>
           <p> Please read our Returns Policy and instructions here <a href="">here</a>. </p>
            <p>To return all parcels to any store or post them to the following address.</p>  
            
           <p>Returns Dep
            <p>Golden Shoe,</p>
            <p>1 Sole Lane,</p>
            <p>Laceville,</p>
            <p>Meshchester</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


{% endblock %}