{% extends 'base.html' %}
{% load static %}

{% block content %}
   <h1>Home page</h1>
    {% load socialaccount %}
<a href="{% provider_login_url 'facebook' method='oauth2' %}">Facebook OAuth2</a>


{% for product in products %}
<div>
    <a href="{% url 'product_detail' product.id %}">  <p>{{product.name}}</p></a>
   <p> {{product.id}}</p>
  {% if product.qr_code %}
    <img src="{{product.qr_code}}" alt="" style="height: 50px; width:50px ">
</div>

    {% endif %}

    
{% endfor %}

<script type="text/javascript">
        window.__be = window.__be || {};
        window.__be.id = "59cd403b8187680007244146"; // put your chat widget id here

        var BE_API = window.BE_API || {};

        // open chat widget window after load
        BE_API.onLoad = function () {
            BE_API.openChatWidget();
        };

        (function() {
            var be = document.createElement('script'); be.type = 'text/javascript'; be.async = true;
            be.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.botengine.ai/widget/plugin.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(be, s);
        })();
    </script>

    <style type="text/css">
        #botengine-chat {
            width: 100% !important;
        }
    </style>
{% endblock %}