{% load static %}
{% load profiles_extra %}

<nav class="main-colour">
   <div class="container-fluid pb-3">
        <div class="row pt-3">
            {% if request.user.is_authenticated %}          
                <a href="" class="nav-link account-link col-sm text-center" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user fa signed-in"></i><span> Account</span>
                </a>
                <div class="dropdown-menu desktop-nav-dropdown text-center drop-placement">
                    <a class="dropdown-item account-dropdown" href="">My Profile</a>

             
                        <a class="dropdown-item account-dropdown" href="">Admin</a>
                 
                    <a class="dropdown-item account-dropdown" href="{% url 'account_logout' %}">Logout</a>
                </div>
            {% else %}
                <a href="" class="nav-link account-link col-sm text-center" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user fa"></i><span> Account</span>
                </a>

                <div class="dropdown-menu desktop-nav-dropdown text-center drop-placement">
                    <a class="dropdown-item account-dropdown" href="{% url 'account_login' %}">Login</a>
                    <a href="{% url 'account_signup' %}" class="dropdown-item account-dropdown">Register</a>
                </div>     
            {% endif %} 
            <a class=" text-center" href="{% url 'home' %}"><img class="brand-logo" src="{% static 'images/edited_logo.png' %}" alt=""></a>                  
            
            <a class="nav-link col-sm" href="" id="basketLinkDesktop">
                <i class="fas fa-shopping-basket item-added-transition"></i>
                <span>£ {{ total|floatformat:2 }}</span>
            </a>
        </div>

        <div id="desktopExtraNavWrapper">
            <div class="row">
                <div class="col-12">
                    <hr class="nav-hr">
                </div>
                <div class="col-sm text-center desktop-nav-link">
                    <a id="desktopNavAllProducts" href="">All products</a>
                </div>   

                <div class="col-sm text-center desktop-nav-link">
                    <a id="desktopNavAllPhotographs" href="">Men's</a>
                </div>

                <div id="desktopExtendedSearchBar" class="col-sm text-center">
                    <form method="GET" action="" class="row input-group">
                        <input class="form-control" name="q" type="search" placeholder="Search" aria-label="Search">
                        <button class=" btn action-btn nav-search-button" type="submit"><i class="fas fa-search"></i></button>
                    </form>                 
                </div>

                <div class="col-sm text-center desktop-nav-link">
                    <a id="desktopNavAllFramesAndCanvas" class="col-sm text-center px-0 desktop-nav-link" href="">Women's</a>
                </div>

                <div class="col-sm text-center desktop-nav-link">
                    <a id="desktopNavAllSpecialOffers" class="col-sm text-center desktop-nav-link" href="">Kids</a>  
                </div>

            </div>
            
            <div id="desktopDropDownMenu" class="row">
                <div class="col-sm text-center" aria-labelledby="allProducts">
                    <a href="?sort=discount_price&direction=asc" class="cat-links">Price</a>
                    <a href="?sort=rating&direction=desc" class="cat-links">Rating</a> 
                    <a href="?sort=rating&direction=desc" class="cat-links">Style</a>                       
                </div> 

                <div class="col-sm text-center" aria-labelledby="photographsDropdown">
                    <a href="?category=shoes" class="cat-links">Shoes</a>
                    <a href="?category=trainers" class="cat-links">Trainers</a>
                    <a href="?category=sports" class="cat-links">Sports</a>
                    <a href="?category=boots" class="cat-links">Boots</a>
                </div>

                <div class="col-sm"></div>
                <div class="col-sm text-center" aria-labelledby="containersDropdown">
                    <a href="?category=shoes" class="cat-links">Shoes</a>
                    <a href="?category=trainers" class="cat-links">Trainers</a>
                    <a href="?category=sports" class="cat-links">Sports</a>
                    <a href="?category=boots" class="cat-links">Boots</a>
                </div>

                <div class="col-sm text-center" >
               <a href="?category=shoes" class="cat-links">0-1 Year</a>
                    <a href="?category=trainers" class="cat-links">1-4 Years</a>
                    <a href="?category=sports" class="cat-links">4-8 Years</a>
                    <a href="?category=boots" class="cat-links">8-16 Years</a>
                </div>
            </div> 
        </div>
    </div>
</nav>