{% extends 'base.html' %} 
{% load static %} 
{% block content %}
<section>
    <div class="container-fluid main-section-container margin-header-wrapper product-container">
        <div class="row search-information">

            <div class="col-12 text-center products-found"> 
                <p class="search_result">
                    {{products|length}} product(s){% if search_term %} found for "{{search_term}}"{% endif %}
                </p>
                
            </div>

        </div>

        <div class="row extra-row-margin">
            {% for product in products %}
                <div class="card all-products-card  col-12 col-md-6 col-lg-4 shadow p-3 mb-4 rounded">
                
                    <div class="image-wrapper">    
                        <a class="d-md-none" href="{% url 'product_detail' product.id %}">
                            <img
                                src="{{product.images.0}}"
                                class="card-img-top product-card-image lazy"
                                alt="{{product.friendly_name}}" />
                        </a>
                        <a class="d-md-block d-none " href="{% url 'product_detail' product.id %}">
                            <img
                                src="{{product.images.0}}"
                                class="card-img-top product-card-image lazy"
                                alt="{{product.friendly_name}}" onerror="this.onerror=null; this.src='/static/media/site_images/no_image.jpg';"
                        />
                   
                        </a>
                    </div>
                    <div class="card-body text-center">
                        <div>
                            <a class="card-text product-name" href="{% url 'product_detail' product.id %}">{{product.friendly_name}}</a>
                            <p class="card-text">
                             
                                <span> £{{product.price}} </span> 
                          
                            </p>
                            <p class="text-link card-text" >
                                <a href="{% url 'products' %}?category={{product.category.name}}"
                                >{{product.category.friendly_name}}</a
                                >
                            </p>

                            {% if product.number_of_ratings != 0 %}
                                <p class="card-text"><i class="fas fa-star"></i> {{product.rating}}/5</p>
                            {% else %}
                                <p class="card-text">This product hasn't been rated yet.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>


{% endblock %}