{% extends 'base.html' %}
{% load static %}

{% block content %}
 
<div class="container-fluid main-section-container margin-header-wrapper">
    <div class="row">
        <div class="col-12 extra-margin-top">
            {% if messages %}
                <div class="message-container">
                    {% for message in messages %}
                        <p class="mb-0"><i class="far fa-check-circle"></i> {{message}}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>        
        <div class="card product-detail-card extra-margin-right col-12  first-pd-card col-md-6 order-md-1 col-lg-4 shadow p-3 mb-3 rounded">
            <div class="row">
                <div class="col-12 mb-3">
                    <a id="display_image_href" href="{{display_image}}">
                        <img id="p-display-image" src="{{display_image}}" class="product-image" alt="">
                   </a>
                </div>
                <div class="text-center col-12">
                    <p><small>Click the image above to enlarge.</small></p>
                </div>
            </div>
            <div class="product_image_wrapper row">
                <div class="col-12 text-center">
                    {% for image in product.images %}                    
                        <img src="{{image}}" class="product-image-selection p-image-select" alt="">                             
                    {% endfor %}
                </div>           
            </div>
            <div class="card-body product-detail-card-body  text-center">   
                {% if product.special_offer.friendly_name != None %}
                    <span class="badge  on-top-of-image special-offer-badge p-2">{{product.special_offer.friendly_name}}</span>       
                {% endif %}
                <h5 class="card-text">{{product.friendly_name}}</h5>
                <h5 class="card-text">            
                    <span> £{{product.price}} </span> 
                </h5>
                <hr>
                <h5>Reviews</h5>
                {% if product.number_of_ratings != 0 %}
                    <p class="card-text"><i class="fas fa-star"></i> {{product.rating}}/5</p>
                    <div id="productReview" class="review-wrapper">
                        {% include 'reviews/includes/product_review_list.html' %}
                    </div>
                {% else %}
                    <p class="card-text">This product hasn't been rated yet.</p>
                {% endif %}
                    <a href="" class="text-link"><i class="fas fa-plus"></i> Add review</a>
            </div>
        </div>
        
        <!-- Form to handle item preferences such as quantity. -->
        <div class="card product-detail-card  col-12  mt-3 col-md-6 order-md-2 col-lg-4 shadow p-3 mb-3 rounded text-center">
            <form method="POST" action="{% url 'add_to_basket' product.id %}">
                {% csrf_token%} 
                <div>
                    <h4 class="my-3 product-detail-labels">Size</h4>
                    <select name="size" id="">
                        {% for size in available_sizes %}
                            <option value="{{size.size}}">{{size.size}}</option>
                        {% endfor %}
                    </select>
                    <h4 class="my-3 product-detail-labels">Quantity</h4>
                    <div class="input-group mb-3 col-xl-8 offset-xl-2">
                       
                        <input class="form-control qty_input " type="number" name="quantity" value="1" min="0" max="99" data-item_id="{{ product.id }}" id="productDetailQty">
                     
                    </div>
                </div>                     
                <button id="addToBasket" class="btn col-12 btn-outline-black rounded-0 btn-lg action-btn mb-3" type="submit">
                    Add to basket
                    <span class="icon"><i class="fas fa-chevron-right"></i></span>
                </button>
                <a href="{% url 'products' %}" class="btn col-12 btn-outline-black second-btn rounded-0 btn-lg mb-3">
                    <span class="icon">
                      <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="">Keep Shopping</span>
                </a>
              
            </form>

        </div>




            
             
                                  
                <div class="card product-detail-card extra-margin-right col-12  first-pd-card col-md-6 order-md-1 col-lg-4 shadow p-3 mb-3 rounded">                    
                    <div class="card-body product-detail-card-body  text-center">  
               
            <h5 class="card-text">Stock Availability</h5>
                <div >
                    <p id="stock_indicator" class="btn second-btn card-text">Click for online stock levels <i class="fas fa-arrow-right"></i> 
                        <span id="stock_indicator_value" class="hide card-text">{{product.online_stock_count}}</span>
                    </p>
                </div>
                <hr>
                <label for="store_select">Please select a store to see available stock per size.</label>                
                    <select name="store_select" id="store_select">
                        <option value="" selected>Select a store</option>
                        {% for store in stores %}
                            <option value="{{store.store}}">{{store.store}}</option>
                        {% endfor %}
                    </select>
                    <hr>
                    {% for size in sizes %}
                        <p class="{{size.store}} available_sizes hide card-text">Size {{size.size}}: {{size.stock_levels}}</p>
                    {% endfor %}
                    <hr>
                    <div>
                        <h5 class="btn second-btn">Size guide <i class="fas fa-chevron-down"></i></h5>
                        <img src="" alt="">
                    </div> 
                   
                </div>
                          <h5 class="text-center">Continue shopping later?</h5>
                            <p class="card-text text-center">Scan the QR to save time!</p>
                      

                        {% if product.qr_code %}
                     
                            <img class="pd-qr-code" src="{{product.qr_code}}" alt="">
                
                        {% endif %}
                    </div> 
                       
            </div>
        </div>
      
    </div>
</div>

    
{% endblock %}